<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rexia</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="d-flex flex-row-reverse top-nav pr-5">
        <a class="p-2 top-anchors" href="#">Register/Login</a>
        <a class="p-2 top-anchors" href="#">Contact Us</a>
        <a class="p-2 top-anchors" href="#">Support</a>
    </div>
    <nav class="navbar navbar-expand-lg bg-white">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">abc</span>
        </button> -->
        <div class="d-flex justify-content-around nav-div">
            <a class="navbar-brand ml-5" href="#"><img id="rexia-logo" src="img/rexialogo-nav.png" alt="rexialogo"></a>
      
            <div class="collapse navbar-collapse" >
              <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Solutions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Industries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
                <button class="btn my-2 my-sm-0 mr-5 proposal">GET A PROPOSAL</button>
            </div>
          
        </div>
      </nav>
