<%- include('partials/header') -%>
<link rel="stylesheet" href="css/main.css">

<div class="r-1">
        <div class="row container-1">
            <div class="col-6">
                <h1 class="">Turning your <span class="presumed">dreams</span>  into a  <span class="presumed">Reality </span> you presumed!</h1>
                <p class="mt-3">Rexia is a product-based Pakistani self grown IT company aiming to produce future leaders of the world! We love to fix complex problems and come up with innovative solutions. Tell us about your project and we’ll work together to bring you the best results.</p>
                <button class="btn btn-md learn-more">Learn More</button>
                <button class="btn btn-md ml-4 quotation-req">Request a quotation</button>
            </div>
            <div class="col-6">
                <img class="asset-1 ml-2" src="img/Asset 1.svg" alt="Vector">
            </div>
        </div>
        
</div>

<div class="r-2 py-5" >
    <div class="row">
        <div class="col-10 mx-auto" >
            <h2 class="text-center">What we do?</h2>
            <p class="text-center mt-3 description-1 px-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum quisquam eveniet quos iusto magnam provident tenetur a laboriosam dolorum enim eius, laudantium odit quibusdam earum! Facere enim esse ratione? Obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aliquid ullam</p>
        </div>
        <div class="col-10 py-5 mx-auto d-flex justify-content-between services">
            <a href="" class="">
                <div class="div-block shadow">
                    <img class="icons" src="img/web-dev.svg" alt="">
                    <h5>Web Development</h5>
                    <p>Our skilled web development staff has the technical expertise to work with both open source technologies, such as PHP and mySQL. They're also skilled with Microsoft technologies, such as ASP, .Net, and Microsoft SQL Server.</p>
                    <span>Learn More</span>  <img src="img/arrow-right.png" class="arrow"/>
            
                </div>
            </a>
            
            <a href="">
                <div class="div-block">
                    <img class="icons" src="img/app-development.svg" alt="">
    
                    <h5>Mobile App Development</h5>
                    <p>Apps are one of the best ways to boost engagement with your target audience, build strong brand loyalty, and ultimate cultivate a dedicated base of recurring customers/clients. Thinking about getting one built </p>
                    <span>Learn More</span>  <img src="img/arrow-right.png" class="arrow"/>
                </div>
            </a>
            
            <a href="">
                <div class="div-block">
                    <img class="icons" src="img/seo.svg" alt="">
    
                    <h5>SEO</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aliquid ullam aspernatur ea neque, commodi repudiandae soluta quo voluptatibus nobis, dolorum excepturi, totam pariatur nisi temporibus mollitia obcaecati quam! Quo.</p>
                    <span>Learn More</span>  <img src="img/arrow-right.png" class="arrow"/>
                </div>
            </a>
            <a href="">
                <div class="div-block"> 
                    <img class="icons" src="img/iot.svg" alt="">
    
                    <h5>IoT</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aliquid ullam aspernatur ea neque, commodi repudiandae soluta quo voluptatibus nobis, dolorum excepturi, totam pariatur nisi temporibus mollitia obcaecati quam! Quo.</p>
                    <span>Learn More</span>  <img src="img/arrow-right.png" class="arrow"/>
                </div>
            </a>
        </div>
    </div>
    
</div>

<div class="r-3 mx-auto">
    <div class="row d-flex justify-content-center   ">
    
        <div class="div-rounded shadow">
            <img src="img/mk_pic.png" alt="" class="w-100 rounded">
            
        </div>

        <div class="col-4 d-flex flex-column justify-content-center mk-caption">
            <h5 class="purple">Muhammad Kumail - <span class="font-weight-light" style="font-size: 0.9em;">co-founder</span></h5>
            <p class="" style="width: 90%;">The world is changing in a much faster pace then we can even imagine. We need to
            make up with the pace and push ourselves togehter with shear hard work in order to progress.</p>
            <a href="#" class="read-more-mk text-decoration-none">Read more <span>></span></a>
        </div>   
    </div>
</div>

<div class="r-4">
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="col-6">

                <h2 class="pr-3">Read about our contribution in the Growing Industry</h2>
                <div class="small-div-border my-4"></div>
                <p class="font-weight-light pr-3">We have helped some great companies brand, design and kick start into the market.</p>
            </div>
            <div class="d-flex justify-content-between industry-img-div mx-auto text-center row">
                <div class="col-3 mx-2">
                    <img src="img/food.svg" alt="hello" class="industries-img rounded-lg">
                    <h6 class="mt-4">Drone</h6>
                    <p>Revolutionising 3D cell biology to accelerate drug discovery</p>
                </div>
                <div class="col-3 mx-2">
                    <img src="img/food-2.svg" alt="" class="industries-img rounded-lg">
                    <h6 class="mt-4">Food</h6>
                    <p>Revolutionising 3D cell biology to accelerate drug discovery</p>
                </div>
                <div class="col-3 mx-2">
                    <img src="img/education.svg" alt="" class="industries-img rounded-lg">
                    <h6 class="mt-4">Education</h6>
                    <p>Revolutionising 3D cell biology to accelerate drug discovery</p>
                </div>
                <div class="col-3 mx-2 mt-5">
                    <img src="img/finance.svg" alt="hello" class="industries-img rounded-lg">
                    <h6 class="mt-4">Financial Services</h6>
                    <p>Revolutionising 3D cell biology to accelerate drug discovery</p>
                </div>
                <div class="col-3 mx-2 mt-5">
                    <img src="img/ecommerce.jpg" alt="" class="industries-img rounded-lg">
                    <h6 class="mt-4">Ecommerce</h6>
                    <p>Revolutionising 3D cell biology to accelerate drug discovery</p>
                </div>
                <div class="col-3 mx-2 mt-5">
                    <img src="img/health.svg" alt="" class="industries-img rounded-lg">
                    <h6 class="mt-4">Health Care</h6>
                    <p>Revolutionising 3D cell biology to accelerate drug discovery</p>
                </div>

                
                
                <!-- <img src="" alt="" class="industries-img">
                <img src="" alt="" class="industries-img"> -->
                
            </div>
            
        </div>
    </div>
</div>






<script src="js/index.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<%- include('partials/footer') -%>