html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.top-nav {
    background: #f5f5f5;
    font-size: 14px;
}

.link-unstyle:hover {
    text-decoration: none;
}

.top-anchors, .top-anchors:hover {
    margin: 0 5px;
    color: #394951;
}

#rexia-logo{
    width: 100px;
    color: white;
}

.nav-border {
    border-top-color: #e4e4e4;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #e4e4e4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; 
}
.nav-div {
    width: 100%;
}

nav li a {
    color: #262626;
    margin: 0 20px;
    font-size: 14px;
    letter-spacing: 0.06em;
    padding: 8px 0!important;    
}

nav li a:hover {
    /* border-bottom: 2px solid #F4A950;
    padding-bottom: 1px!important; */
    color: inherit;
}

nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #BFE0E2;
    -webkit-transition: width .3s ease;
	transition: width .3s ease;
  }

nav li a:hover::after {
    color: inherit;
    width: 100%;
}

.proposal-btn {
    background: #ed9f8c;
    color: white;
    transition:  .3s;
}

.proposal-btn:focus {
    outline: none;
    box-shadow: none;

}

.proposal-btn:hover {
    background: #E67B60;
    color: white;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sticky-top-scroll {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    background: rgba(255,255,255, 0.98);
    transition-duration: 0.6s;
}

