
.r-1 {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-1 {
    width: 80%;
    margin: auto;
}

.r-1 h1 {
    color: #133B4F;
    margin: 140px 0 0 0px;
    font-weight: bold;
}

.learn-more {
    background: #ED9F8C;
    color: white;
}

.quotation-req {
 background: #6EA5DB;
 color: white;
}
.asset-1 {
    width: 100%;
    margin: 45px 0;
}

.r-2 h2 {
    color: #133B4F;
}

.container-2 {
    width: 80%;
}

.description-1 {
    font-size: 1.2rem;
    color: #333333;
    font-weight: 300;
    line-height: 1.5;
}

.services a {
    text-decoration: none;
    margin: 0 10px;
    width: 25%;
    color: black;
}

.services h5 {
    color: #6EA5DB;
}

.services p {
 color: #60697c;
 font-size: 13px;
}

.div-block {
    border: 1px solid #d5dbdb;
    border-top-color: rgb(213, 219, 219);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(213, 219, 219);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(213, 219, 219);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(213, 219, 219);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;   
    padding: 20px;
    height: 100%;
    background: white;
}

.icons {
    height: 60px;
    display: block;
    margin: 20px auto;
    margin-bottom: 30px;
    max-width: 100%;
}


.arrow {
    width: 16px;
    line-height: 0.7rem;
}

.services span {
    color: #6EA5DB;
    text-decoration: none;
}

.spanhover {
    color: #ED9F8C;
    border-bottom: 1.2px solid #6EA5DB;
}

.inverse {
    background: #f9e2dc;
    color: #2F3A49!important;
}

.r-3 {
    width: 80%;
    margin: 90px auto;
}

.div-rounded {
    border-radius: 25px;
    /* background: #73AD21; */
    margin: auto 100px;   
    width: 320px!important;
    height: 320px!important;   

}

.mk-caption h5 {
    color: #133B4F;
}

.mk-caption p {
    color: #4F4F4F;
}

.r-4 {
    margin: 300px auto;
}

.purple {
    color: #133B4F;
}


.small-div-border {
    border-bottom: 3px solid #ED9F8C;
    width: 10%;
}

.industry-img-div {
    margin-top: 80px;
}

.industry-img-div div {
    padding: 0;
}

.industries-img {
    width: 100%;
}




