
body {
	font-family: 'HKGroteskRegular';
    font-weight: normal;
    font-style: normal;

}

.navbar
{
	background-color: #ffffff;
	text-align:center;
	overflow: hidden;
	margin: -9px -9px 0 -9px;
}
button
{
	font-family: 'HKGroteskRegular';
   font-weight: normal;
   font-style: normal;
}

.navbar a
{
	text-decoration: none;
}

.container-1
{
	padding: .5rem;
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.c1-box-1
{
	flex: 1;
	margin: auto;
	width: 50%;
	padding-top: 10px;
}
.c1-box-2
{
	flex: 3;
}
.c1-box-3
{
	flex: 1;
	margin: auto;
	width: 50%;
	float:right;
}

.logo-width
{
	width: 25%;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #333333;
  padding: 16px;
  font-size: .92rem;
	font-weight: 500;
  border: none;
}

.dropbtn:hover
{
	background-color: #ddd !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
  display: inline;
}

.ahover
{
	background-color: #ddd;
}
/* Dropdown Content (Hidden by Default) */
/* .dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 2rem;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.1);
  z-index: 1;
}
.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content-3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */
.dropdown-content-4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-4 a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-4
{
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f5f5f5;}

.hireus
{
	background-color: #3b3cbd;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 3px;
	font-family: 'Quicksand', sans-serif;
	font-size: .8rem;
}

.buttonp1
{
	margin-left: 3rem;
}
.signin
{
	color: black;
	margin-left: 3rem;
	font-size: .9rem;
}

.container-2
{
	margin-left: -1.75rem;
	background-clip: border-box;
	padding: 1rem;
	background: url(rexia.jpg) no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 500px;
	position: relative;

	overflow: hidden;
}

.container-3
{
	margin: 4rem 9rem;
	width: 90%;
	display: flex;
	justify-content:space-around;
}

.container-3 h2
{
	color: white;
	font-size: 50px;
}

.container-3 p
{
	color: white;
}

.c3-b1
{
	flex: 3;
	max-width: 50%;
	/* border: 1px solid white; */
}

.c3-b1 h2
{
	font-weight: 500;
}
.c3-b2
{
	/* border: 1px solid white; */
	flex: 2;
	display: flex;
	max-width: 25%;
	min-height: 21rem;
	margin-right: 4.2rem;
	border-radius: .3rem;
	text-transform: uppercase;
	color: white;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 .9rem 0;
}

.c3-b2-b1
{
	flex:1;
	padding: 0rem 1.7rem;
}

.c3-b2-b2
{
	flex:1;
	padding: 0rem 1.7rem;
}
.c3-b2-b3
{
	flex:1;
	padding: 0rem 1.7rem;
}
.c3-b2-b4
{
	flex:1;
	padding: 0rem 1.7rem;
}

.smalldivs
{
	background-color: #ef815b;
	border-radius: .3rem;
}
.head4
{
	padding: .2rem .9rem;
	margin-bottom: -1.5rem;
	font-size: .9rem;
}
.head5
{
	background-color: #af563b;
	padding: .1rem .6rem;
	border-radius: 0 0 .2rem .2rem;
	margin-bottom: -.8rem;
	font-size: 1.6rem;
}
.c1-box-2 .hamburg {
  display: none;
}

.project
{
	background-color: #AF563B;
	color: white;
	border: none;
	padding: 12px 20px;
	border-radius: 42rem;
	font-family: 'Quicksand', sans-serif;
	font-size: .85rem;
	text-decoration: none;
}
.contactus
{
	background-color: #EF815B;
	color: white;
	border: none;
	padding: 12px 20px;
	border-radius: 42rem;
	font-family: 'Quicksand', sans-serif;
	font-size: .85rem;
	text-decoration: none;
	margin-left: 1rem;
}

.project:hover
{
	background-color: #C15C44;
}

.contactus:hover
{
	background-color: #94D8ED;
}

.parteners
{
	margin: auto;
	max-width: 55%;
	position: relative;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	bottom: 90px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.parteners h1
{
		padding-top: 20px;
		font-weight: 400;
}
.flex-parteners{
	display: flex;
	justify-content:space-around;
	flex-direction: row;
	padding: 10px 60px 20px 60px;
}
.flex-parteners img
{
	min-width: 70%;
}
.p-1
{
	flex:1;
	margin: auto;
}
.p-2
{
	flex: 1;
	margin: auto;
}
.p-3
{
	flex: 1;
	margin: auto;
}
.p-4
{
	flex: 1;
	margin: auto;
}

.process hr
{
	width: 5%;
	margin-top: -40px;
}

.process
{
	text-align: center;
	margin: auto;
	font-size: 1.5rem;
	width: 80%;
}

.flex-process
{
	display: flex;
	justify-content: space-around;
}

.flex-process h4
{
	font-size: 1.3rem;
}
.flex-process p
{
	font-size: 1.1rem;
}

.flex-process img{
	height: 100px;
	width: 90px;
	border-radius: .5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.process-1
{
	flex:1;
	padding: 20px;
}
.web
{
	background-color: #f39f86;
	background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
	position: relative;
	display: flex;
	justify-content: space-between;
}

.web-1 img
{
	border-radius: .5rem;
	width: 100%;
	height: 100%;
}
.web h4
{
	color: #8285d1;
}

.web-1
{
	flex:1;
	margin: auto;

}

.web-2
{
	flex: 1;
	background-color: white;
	margin: 0 70px 0 10px;
	max-width: 33%;
	padding: 4rem;
}

.web-2 h3
{
	color:#031c38;
	font-size: 2.7rem;
	margin: 10px 0;
}

.web-in2
{
	display: flex;
	justify-content: space-around;
}
.web-in2-1
{
	flex: 1;
	width: 40%;
}

.web-in2-1 img
{
	margin-top: 1rem;
	background-color: #faefec;
	border-radius: 50%;
	width: 16%;
}

.web-in2-1 h4
{
	margin: .5rem .5rem .5rem 0;
	color: black;
}

.web-in2-1 h4:hover {
	border-bottom: 3px solid #f7c87b;
	width: 43%;
	margin-bottom: -3px;
}

.web-in2-2
{
	flex: 1;
	width: 40%;
	padding-left: 5%;
}

.web-in2-2 h4
{
	margin: .5rem .5rem .5rem 0;
	color: black;
}

.web-in2-2 h4:hover {
	border-bottom: 3px solid #f7c87b;
	width: 48%;
	margin-bottom: -3px;

}
.web-in2-2 img
{
	margin-top: 1rem;
	width: 16%;
}

.mob
{
	margin-top: 5rem;
	background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
	position: relative;
	display: flex;
	justify-content: space-between;
}

.mob-1 img
{
	border-radius: .5rem;
	width: 100%;
}
.mob h4
{
	color: #8285d1;
}

.mob-1
{
	flex:1;
	margin:auto;

	order: 1;
}

.mob-2
{
	flex: 1;
	background-color: white;
	margin: 0 10px 0 70px;
	max-width: 33%;
	padding: 4rem;
}

.mob-2 h3
{
	color:#031c38;
	font-size: 2.7rem;
	margin: 10px 0;
}

.offers h2
{
	margin-top: 4rem;
	text-align: center;
}

.customized {
	display: flex;
	justify-content: space-around;

}

footer
{
	font-family: 'Roboto', sans-serif!important;
	background-color: #fffafa;
}

.fcontainer
{
	display: flex;
	justify-content: center;
	padding: 0 3rem;
}

.fcontainer a
{
	text-decoration: none;
}

.fcontainer a:hover
{
	color: #212121;
}
.f-1
{
	flex: 1;
	border-right: 1px solid #D3D3D3;
	padding: 0 5rem;
}
.f-2
{
	flex: 2;
	border-right: 1px solid #D3D3D3;
  padding: 0 5rem;
}
.f-3
{
	flex: 1;
	padding: 0 5rem;
}

.rights
{
	text-align: center;
}

.smallfooter
{
	display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px){
	.c1-box-2 a, button {display: none;}
	.c1-box-1
	{
		flex: 1;
		order: 2;
		margin: auto;
		width: 100%;
		padding-top: 10px;
	}
	.c1-box-2
	{
		flex: 1;
		order: 1;
	}
	.c1-box-3
	{
		flex: 1;
		order:3;
		margin: auto;
		width: 100%;
		float: right;
	}

	.logo-width
	{
		width: 4.2rem;
	}
  .c1-box-2 a.hamburg {
    float: left;
		padding: 10px 0 0 10px;
    display: block;
		color: #333335;

  }

	.c1-box-2.responsive {position: relative;

		padding: 30px 0 0 0px; }
  .c1-box-2.responsive a.hamburg {
    position: absolute;
		left: 0;
		top: 0;
  }

  .c1-box-2.responsive a {
    float: none;
    display: block;
    text-align: left;
		z-index: 1;
  }
  .c1-box-2.responsive button {
    float: none;
    display: block;
    text-align: left;
		z-index: 1;
  }

	/* container-3 development */
	.container-3
	{
		margin: 2rem 5rem;
		width: 90%;
	}

	.container-3 h2
	{
		color: white;
		font-size: 3rem;
	}

	.c3-b2
	{
		flex: 2;
		display: flex;
		max-width: 30%;

		margin-right: 2rem;

		padding: 0 0 .9rem 0;
	}

	.c3-b2 h4
	{
		font-size: .7rem;
	}

	.signin
	{
		color: black;
		float: right;
		padding-right: 1.8rem;
		font-size: .9rem;
	}

	/* Our proceess */
	.process
	{
		text-align: center;
		margin: auto;
		font-size: 1rem;
		width: 80%;
	}

	.flex-process h4
	{
		font-size: 1.1rem;
	}
	.flex-process p
	{
		font-size: .9rem;
	}

	.flex-process img{
		height: 90px;
		width: 90px;
	}

	/* web */

	.web-2
	{
		flex: 1;
		background-color: white;
		margin: 0 70px 0 10px;
		max-width: 35%;
		padding: 3rem;
	}

	.web-2 p{
		font-size: .9rem;
	}

	.web-2 h3
	{
		color:#031c38;
		font-size: 2.2rem;
		margin: 10px 0;
	}

	.web-in2-1
	{
		flex: 1;
		width: 40%;
	}

	.web-in2-1 h4
	{
		margin: .4rem .4rem .4rem 0;
		color: black;
	}

	.web-in2-1 h4:hover {
		border-bottom: 3px solid #f7c87b;
		width: 43%;
		margin-bottom: -3px;
	}

	.web-in2-2
	{
		flex: 1;
		width: 40%;
		padding-left: 5%;
	}

	.web-in2-2 h4
	{
		margin: .5rem .5rem .5rem 0;
		color: black;
	}

	.web-in2-2 h4:hover {
		border-bottom: 3px solid #f7c87b;
		width: 48%;
		margin-bottom: -3px;
	}
	.web-in2-2 img
	{
		margin-top: 1rem;
		width: 16%;
	}

	/* mobile */
	.mob
	{
		margin-top: 3rem;
	}

	.mob-1 img
	{
		border-radius: .5rem;
		width: 100%;
	}
	.mob h4
	{
		color: #8285d1;
	}

	.mob-1
	{
		flex:1;
		margin:auto;
		order: 1;
	}

	.mob-2
	{
		flex: 1;
		background-color: white;
		margin: 0 10px 0 70px;
		max-width: 35%;
		padding: 3rem;
	}

	.mob-2 h3
	{
		color:#031c38;
		font-size: 2.2rem;
		margin: 10px 0;
	}

	.mob-2 p
	{
			font-size: .9rem;
	}
/* footer */
	.f-1
	{
		flex: 1;
		border-right: 1px solid #D3D3D3;
		padding: 0 3rem;
	}
	.f-2
	{
		flex: 2;
		border-right: 1px solid #D3D3D3;
	  padding: 0 3rem;
	}
	.f-3
	{
		flex: 1;
		padding: 0 3rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {

	/* container-3 development */
	.container-3
	{
		margin: 2rem 5rem;
		width: 90%;
	}

	.container-3 h2
	{
		color: white;
		font-size: 2rem;
	}

	.c3-b2
	{
		flex: 2;
		display: flex;
		max-width: 40%;

		margin-right: 1rem;

		padding: 0 0 .1rem 0;
	}

	/* Our proceess */
	.process
	{
		font-size: 1.1rem;
		width: 90%;
	}

	.flex-process h4
	{
		font-size: .99rem;
	}
	.flex-process p
	{
		font-size: .8rem;
	}

	.flex-process img{
		height: 90px;
		width: 90px;
	}

	.process-1
	{
		flex:1;
		padding: 10px;
	}

/* web */

.web-2
{
	flex: 1;
	background-color: white;
	margin: 0 40px 0 10px;
	max-width: 40%;
	padding: 1.7rem;
}

.web-2 p
{
	font-size: .8rem;
}
.web-2 h3
{
	color:#031c38;
	font-size: 2rem;
	margin: 10px 0;
}

.web-in2
{
	display: flex;
	justify-content: space-around;
}
.web-in2-1
{
	flex: 1;
	width: 40%;
}

.web-in2-1 img
{
	margin-top: 1rem;
	background-color: #faefec;
	border-radius: 50%;
	width: 16%;
}

.web-in2-1 h4
{
	margin: .5rem .5rem .5rem 0;
	color: black;
}

.web-in2-1 h4:hover {
	border-bottom: 3px solid #f7c87b;
	width: 43%;
	margin-bottom: -3px;
}

.web-in2-2
{
	flex: 1;
	width: 40%;
	padding-left: 4%;
}

.web-in2-2 h4
{
	margin: .2rem .2rem .2rem 0;
	color: black;
}

.web-in2-2 h4:hover {
	border-bottom: 3px solid #f7c87b;
	width: 48%;
	margin-bottom: -3px;

}
.web-in2-2 img
{
	margin-top: 1rem;
	width: 16%;
}

/* mobile */

.mob-2
{
	flex: 1;
	background-color: white;
	margin: 0 10px 0 40px;
	max-width: 40%;
	padding: 1.7rem;
}

.mob-2 p
{
	font-size: .8rem;
}
.mob-2 h3
{
	color:#031c38;
	font-size: 2rem;
	margin: 10px 0;
}
/* footer */
	.fcontainer
	{
		font-size: .8rem;
	}
	.f-1
	{
		flex: 1;
		border-right: 1px solid #D3D3D3;
		padding: 0 2rem;
	}
	.f-2
	{
		flex: 2;
		border-right: 1px solid #D3D3D3;
	  padding: 0 2rem;
	}
	.f-3
	{
		flex: 1;
		padding: 0 2rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

	/* container-3 development */
	.container-3
	{
		margin: .5rem 2rem;
		width: 90%;
	}

	.container-3 h2
	{
		color: white;
		font-size: 3rem;
	}

	.c3-b1
	{
		flex: 1;
		max-width: 100%;
	}
	.c3-b2
	{
		display: none;
	}

	/* parterners */
	.parteners
	{
		margin: auto;
		max-width: 60%;
	}
	.flex-parteners img
	{
		min-width: 70%;
	}

	/* Our proceess */
	.process
	{
		font-size: .9rem;
		width: 90%;
	}

	.flex-process h4
	{
		font-size: .8rem;
	}
	.flex-process p
	{
		font-size: .8rem;
	}

	.flex-process img{
		height: 80px;
		width: 80px;
	}

	.process-1
	{
		padding: 5px;
	}

	/* web */

	.web-2
	{
		flex: 1;
		background-color: white;
		margin: 0 30px 0 5px;
		max-width: 60%;
		padding: 1.4rem;
	}

	.web-2 p
	{
		font-size: .66rem;
	}
	.web-2 h3
	{
		color:#031c38;
		font-size: 1.5rem;
		margin: 10px 0;
	}

.web-2 h4
{
	font-size: .7rem;
}
	.web-in2
	{
		display: flex;
		justify-content: space-around;
	}
	.web-in2-1
	{
		flex: 1;
		width: 40%;
	}

	.web-in2-1 img
	{
		margin-top: 1rem;
		background-color: #faefec;
		border-radius: 50%;
		width: 16%;
	}

	.web-in2-1 h4
	{
		margin: .5rem .5rem .5rem 0;
		color: black;
	}

	.web-in2-1 h4:hover {
		border-bottom: 3px solid #f7c87b;
		width: 43%;
		margin-bottom: -3px;
	}

	.web-in2-2
	{
		flex: 1;
		width: 40%;
		padding-left: 4%;
	}

	.web-in2-2 h4
	{
		margin: .2rem .2rem .2rem 0;
		color: black;
	}

	.web-in2-2 h4:hover {
		border-bottom: 3px solid #f7c87b;
		width: 48%;
		margin-bottom: -3px;

	}
	.web-in2-2 img
	{
		margin-top: 1rem;
		width: 16%;
	}

	/* mobile */

	.mob-2
	{
		flex: 1;
		background-color: white;
		margin: 0 10px 0 30px;
		max-width: 40%;
		padding: 1.4rem;
	}

	.mob-2 p
	{
		font-size: .5rem;
	}
	.mob-2 h3
	{
		color:#031c38;
		font-size: 1.5rem;
		margin: 5px 0;
	}
/* footer */
	.fcontainer
	{
		display: none;
	}
	.smallfooter
	{
		display: block;
		padding: 0 0 0 2rem;
	}
	.margin-above
	{
		margin-top: 3rem !important;
	}
	.smallfooter a
	{
		text-decoration: none;
	}

	.smallfooter a:hover
{
	color: #212121;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 600px){
	.parteners
	{
		margin: auto;
		max-width: 80%;
	}

	/* web */

	.web-2
	{
		flex: 1;
		background-color: white;
		margin: 0 20px 0 5px;
		max-width: 60%;
		padding: 1.1rem;
	}

	.web-2 p
	{
		font-size: .5rem;
	}
	.web-2 h3
	{
		color:#031c38;
		font-size: 1.2rem;
		margin: 7px 0;
	}

.web-2 h4
{
	font-size: .5rem;
}
	.web-in2
	{
		display: flex;
		justify-content: space-around;
	}
	.web-in2-1
	{
		flex: 1;
		width: 40%;
	}

	.web-in2-1 img
	{
		margin-top: 1rem;
		background-color: #faefec;
		border-radius: 50%;
		width: 16%;
	}

	.web-in2-1 h4
	{
		margin: .5rem .5rem .5rem 0;
		color: black;
	}

	.web-in2-1 h4:hover {
		border-bottom: 3px solid #f7c87b;
		width: 43%;
		margin-bottom: -3px;
	}

	.web-in2-2
	{
		flex: 1;
		width: 40%;
		padding-left: 4%;
	}

	.web-in2-2 h4
	{
		margin: .2rem .2rem .2rem 0;
		color: black;
	}

	.web-in2-2 h4:hover {
		border-bottom: 3px solid #f7c87b;
		width: 48%;
		margin-bottom: -3px;

	}
	.web-in2-2 img
	{
		margin-top: 1rem;
		width: 16%;
	}

	.flex-parteners img
	{
		min-width: 90%;
	}
}
