
body {
	font-family: 'HKGroteskRegular';
    font-weight: normal;
    font-style: normal;
}

.navbar
{
	background-color: #ffffff;
	text-align:center;
	overflow: hidden;
	margin: -9px -9px 0 -9px;
}
button
{
	font-family: 'HKGroteskRegular';
   font-weight: normal;
   font-style: normal;
}

.navbar a
{
	text-decoration: none;
}

.container-1
{
	padding: .5rem;
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.c1-box-1
{
	flex: 1;
	margin: auto;
	width: 50%;
	padding-top: 10px;
}
.c1-box-2
{
	flex: 3;
}
.c1-box-3
{
	flex: 1;
	margin: auto;
	width: 50%;
	float:right;
}

.logo-width
{
	width: 25%;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #333333;
  padding: 16px;
  font-size: .92rem;
	font-weight: 500;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 2rem;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.1);
  z-index: 1;
}
.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content-3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */
.dropdown-content-4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-4 a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-4
{
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f5f5f5;}

.hireus
{
	background-color: #3b3cbd;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 3px;
	font-family: 'Quicksand', sans-serif;
	font-size: .8rem;
}

.buttonp1
{
	margin-left: 3rem;
}
.signin
{
	color: black;
	margin-left: 3rem;
	font-size: .9rem;
}

.container-2
{
	margin: 0px -2rem 0 -2.5rem;
	padding: 1rem;
	background: url(rexia.jpg) no-repeat center center fixed;
	background-size: cover;
	max-width: 100%;
	min-height: 500px;
	position: absolute;
	top:200;
	left:70;
	overflow: hidden;
}

.container-3
{
	margin: 4rem 9rem;
	width: 90%;
	display: flex;
	justify-content:space-around;
}

.container-3 h2
{
	color: white;
	font-size: 50px;
}

.container-3 p
{
	color: orange;
}

.c3-b1
{
	flex: 3;
	flex-grow: 10;
	max-width: 50%;
	/* border: 1px solid white; */
}

.c3-b1 h2
{
	font-weight: 500;
}
.c3-b2
{
	/* border: 1px solid white; */
	flex: 2;
	display: flex;
	max-width: 25%;
	min-height: 21rem;
	margin-right: 4.2rem;
	border-radius: .3rem;
	text-transform: uppercase;
	color: white;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 .9rem 0;
}

.c3-b2-b1
{
	flex:1;
	padding: 0rem 1.7rem;
}

.c3-b2-b2
{
	flex:1;
	padding: 0rem 1.7rem;
}
.c3-b2-b3
{
	flex:1;
	padding: 0rem 1.7rem;
}
.c3-b2-b4
{
	flex:1;
	padding: 0rem 1.7rem;
}

.smalldivs
{
	background-color: #ef815b;
	border-radius: .3rem;
}
.head4
{
	padding: .2rem .9rem;
	margin-bottom: -1.5rem;
	font-size: .9rem;
}
.head5
{
	background-color: #af563b;
	padding: .1rem .6rem;
	border-radius: 0 0 .2rem .2rem;
	margin-bottom: -.8rem;
	font-size: 1.6rem;
}
.hamburg {
  display: none;
}

.project
{
	background-color: #AF563B;
	color: white;
	border: none;
	padding: 12px 20px;
	border-radius: 42rem;
	font-family: 'Quicksand', sans-serif;
	font-size: .85rem;
}
.contactus
{
	background-color: #84C2DA;
	color: white;
	border: none;
	padding: 12px 20px;
	border-radius: 42rem;
	font-family: 'Quicksand', sans-serif;
	font-size: .85rem;
}



.parteners
{

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1200px){
	.c1-box-2 a, button {display: none;}
	.c1-box-1
	{
		flex: 1;
		order: 2;
		margin: auto;
		width: 100%;
		padding-top: 10px;
	}
	.c1-box-2
	{
		flex: 1;
		order: 1;
	}
	.c1-box-3
	{
		flex: 1;
		order:3;
		margin: auto;
		width: 100%;
		float: right;
	}

	.logo-width
	{
		width: 4.2rem;
	}
  .hamburg {
    float: left;
		padding: 10px 0 0 10px;
    display: block;
		color: #333335;

  }

	.c1-box-2.responsive {position: relative;
		padding: 30px 0 0 0px; }
  .c1-box-2.responsive .hamburg {
    position: absolute;
		left: 0;
		top: 0;
  }

  .c1-box-2.responsive a {
    float: none;
    display: block;
    text-align: left;
		z-index: 1;
  }
  .c1-box-2.responsive button {
    float: none;
    display: block;
    text-align: left;
		z-index: 1;
  }

	.signin
	{
		color: black;
		float: right;
		padding-right: 1.8rem;
		font-size: .9rem;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.navbar
	{
		background-color: yellow;
		text-align:center;
		overflow: hidden;
		margin: -9px -9px 0 -9px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 600px){
	.navbar
	{
		background-color: orange;
		text-align:center;
		overflow: hidden;
		margin: -9px -9px 0 -9px;
	}
}
