{% extends "base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/marketing.css')}}">
{% endblock %}

{% block title %}Marketing{% endblock %}

{% block body %}
 <div class="container-2">

  		<div class="container-content">

            <h2 class="item1">Our Marketing Businesses with Trust</h2>
            <p class="item2">The online marketplace is competitive, which is why your business (whether you operate offline or online) needs a trusted and experienced Solutions agency. With more than 20 years of experience and accolades from industry-respected organizations like Clutch, Rexia is the right place that companies choose when looking to increase their revenue and grow their operations</p>
            <div class="buttons item2">
              <a href="" class="proposal">Get a Custom Proposal</a>
              <a href="" class="client">Our Client's Successs</a>
            </div>

  		</div>
  	</div>
	  <br><br><br>
    <div class="row">
		<div class="row-content">
			<h2>Grow your Business with our marketing agency</h2>
			<p>For your company and its decision-makers, it’s critical to move your business forward. Whether you’re looking to increase sales numbers, improve the quality of leads, or drive revenue numbers to the next level, you can use <a href="https://www.webfx.com/blog/seo/seo-crash-course/">search engine optimization (SEO)</a> and our SEO agency to achieve your goals.
			  <br>As your partner, our award-winning online SEO agency provides your company with:</p>

			  <ul>
				<li><a href="https://www.webfx.com/seo-services.html">Custom strategy</a> tailored to your goals</li>
				<li>In-depth <a href="https://www.webfx.com/SEO-Audits.html">SEO audit</a></li>
				<li>Monthly competitor analysis and monitoring</li>
				<li>Dedicated account manager</li>
				<li>Advanced, client-exclusive <a href="https://www.webfx.com/marketingcloudfx.html">marketing automation</a> software</li>
				<li>Transparent reporting</li>
				<li>Tracking for site-generated phone calls</li>
				<li>And more</li>

			  </ul>
			  <p>With <a href="rexia.html">Rexia</a>, your business can also count on upfront, reliable pricing — and measurable results.
				<br>That’s why <a href="https://clutch.co/profile/webfx#reviews">Clutch</a>, an industry-respected firm that compiles client feedback on company performance, named Rexia the #1 SEO agency in the world. Our quality of service, level of results (we've generated more than $1.5 billion in revenue for our clients in the past five years), and client experience make us an unmatched partner for businesses today.
				<br>
				Start earning more revenue from your website, from leads to sales, with a custom SEO strategy from <a href="rexia.html">Rexia</a>. Contact us online to get started today!</p>

		</div>
    </div>
{% endblock %}